* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a {
    color: black;
}
.nav-link {
    color: black;
}

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }


  main {
}

.hero {
      padding: 0;
    margin: 0;
    height: 100dvh;
    background-color: grey;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('./images/OQ5KAW0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* clip-path: polygon(20% 0%, 77% 0, 100% 20%, 100% 100%, 0 100%, 0% 20%); */
   
  }
  .hero-text {
    
    position: absolute;
    top: 40%;
  }
  .hero-text h1, h2 {
    text-align: center;
  }

  .section-2, .section-3 {
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .section-2 {
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .section-2 p {
    text-align: center;
  }
  .section-3 {
    background-color: grey;
    /* width: 100vw; */
  }
  .section-3 .services {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  .section-3 .services i{

    font-size: 30px;
    
  }
  .section-3 .services h3{

    font-size: 10px;
    
  }
  .section-3 .service {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  /* For tablets */
/* @media (min-width: 481px) and (max-width: 768px) {
    .hero {

    }
    .hero-text {
        position: absolute;
        bottom: 70%;
        background-color: yellow;

    }
    
} */


/* For PCs */
@media (min-width: 769px) {
    .hero {
        /* align-items: center; */
        
    }
    
    .hero-text {
        text-align: center;
        top: 20%;

      }

      .section-3 .services i{

        font-size: 30px;
        
      }
      .section-3 .services h3{
    
        font-size: 30px;
        
      }
    
  }