* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* outline: 4px solid purple; */

}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

li, a {
    color: black;
    font-family: 'Open Sans', sans-serif;
}
h1, h2 , h3 {

    font-family: 'Montserrat', sans-serif;
}
p {

    font-family: 'Lato', sans-serif;
}
.nav-link {
    color:white;
};

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }

header {
    position: absolute;
    width: 100%;
    z-index: 4;
}
nav {
    /* height: 4rem; */
    /* padding: 15rem 0; */
    background-color: #003554;

}
.navbar-toggler{
    outline: none;
    
}
.navbar-toggler:hover,.navbar-toggler:focus{
    outline: none;
    box-shadow: none;

}
  main {
}

.hero {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: grey;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('./images/OQ5KAW0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease .5s;   
    /* opacity: 0; */
    /* clip-path: polygon(20% 0%, 77% 0, 100% 20%, 100% 100%, 0 100%, 0% 20%); */
   
  }

  .hero-up {
    font-weight: bold;
    font-size: 50px;
  }
  .hero-text {

    position: absolute;
    top: 40%;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }
  .hero-text h1, h2 {
    text-align: center;
  }
.dividers {
    position: absolute;
    bottom: -1%;
    /* height: 10%; */
    width: 100%;
    z-index: 0;
    overflow: hidden;

}
.dividers-top {
    position: absolute;
    top: -1%;
    /* height: 10%; */
    width: 100%;
    z-index: 0;

}
.section-svg-3 {
    /* height: 2rem; */
    width: 100%;
}

  .section-2, .section-3, .section-4 {
    position: relative;
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  /* .section-2 {
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .section-2 p {
    text-align: center;
  }
  .section-3 {
    /* background-color: grey; */
    background-image: url('./images/shake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    /* width: 100vw; */
  }
  .section-3 h3{
    font-size: 14px;
  }
  .section-3-wrapper {
    /* background-color: rgba(128, 128, 128, 0.574); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    /* width: 100vw; */
  }

  .section-3 .services {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    
  }
  .section-3 .services i{

    font-size: 30px;
    
  }
  .section-3 .services h3{

    font-size: 20px;
    font-weight: bold;
    
  }
  .section-3 .service {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.325);
    height: 10vh;
    width: 100%;
    
  }

  .section-4 {
    /* background-color: red; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section-4 .contact-wrapper{
      background-color: rgba(128, 128, 128, 0.201);
      height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .section-4 .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 2rem;

  }
  footer p{
    text-align: center;

  }


  /* For tablets */
/* @media (min-width: 481px) and (max-width: 768px) {
    .hero {

    }
    .hero-text {
        position: absolute;
        bottom: 70%;
        background-color: yellow;

    }
    
} */


/* For PCs */
@media (min-width: 769px) {
    nav {
        height: 8rem;
        /* padding: 15rem 0; */
        background-color: #003554;
    
    }
    .hero {
        /* align-items: center; */
        
    }
    
    .hero-text {
        text-align: center;
        top: 40%;

      }

      .section-3 .services i{

        font-size: 30px;
        
      }
      .section-3 .services h3{
    
        font-size: 25px;
        font-weight: bold;
        
      }
      .section-4 .contact-wrapper{
        padding: 0 20%;
      }
      footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        margin-top: 0;
      }

    
  }